<Jumbo>
  <h2>Welcome to Studio Time!</h2>
  <p>Find the studio where your next creation will be made.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>
<div class="rentals">
  <ul class="results">
    <li><Studio @studio={{@model}}/></li>
    {{!-- <li><Studio @studio={{@model}}/></li>
    <li><Studio @studio={{@model}}/></li> --}}
  </ul>
</div>